<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Круговая диаграмма</title>
  <script src="https://www.google.com/jsapi"></script>
  <script>
   google.load("visualization", "1", {packages:["corechart"]});
   google.setOnLoadCallback(drawChart);
   function drawChart() {
    var data = google.visualization.arrayToDataTable([
     ['Врач', 'Пациенты'],
        {% for doc in doctor_meetings %}
     ['{{ doc.doctor_id }}', {{ doc.meeting_count }}],

        {% endfor %}
     ]);
    var options = {
     title: 'Количество пациентов у каждого врача',
     is3D: true,
     pieResidueSliceLabel: 'Остальное'
    };
    var chart = new google.visualization.PieChart(document.getElementById('patients'));
     chart.draw(data, options);
   }
  </script>
 </head>
 <body>
  <div id="patients" style="width: 500px; height: 400px;"></div>
 </body>
</html>
